body{
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#bigbg-viewport {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 2;
}

#bigbg {
  position: absolute;
  width: 3000px;
  height: 3000px;
  background: url("../img/tapestry.png") repeat 0 0 transparent;
  left:0px;
  top:0px;
}

#mx, #my {
    position: fixed;
    float: left;
    display: block;
    left: 10px;
    top: 10px;
    height: 18px;
    width: 150px;
    z-index: 1000;
    background: #000;
    color:#fff;
}

#my {
    top: 30px;
}